<div class="topbar rounded-sm white shadow p-4 flex items-center justify-between">
    <ion-icon name="" class=""> </ion-icon>
    <app-searchbar></app-searchbar>
    <div class="cursor-pointer">
      <div class="cursor-pointer flex items-center">
        <div class="mr-2 text-1xl font-bold" [innerHTML]="username"></div>
        <img src="https://media.licdn.com/dms/image/C4D03AQGx183x1tN_Zg/profile-displayphoto-shrink_800_800/0/1646937554668?e=2147483647&v=beta&t=aC3HiV3QCCqlnP7SoqLpcaP9xPEKPgR1dN_T6QAtjy0" alt="Profile Image" class="w-8 h-8 rounded-full">
      </div>
    </div>
  </div>