<div class="fixed top-0 left-0 right-0 p-4 z-50">
    <div *ngIf="show" class="bg-white border rounded-lg shadow-md p-4 flex items-center">
      <div [ngClass]="{
        'text-red-500': type === 'error',
        'text-green-500': type === 'success'
      }" class="text-xl mr-4">
        <ion-icon *ngIf="type === 'error'" name="alert-circle-outline"></ion-icon>
        <ion-icon *ngIf="type === 'success'" name="checkmark-circle-outline"></ion-icon>
      </div>
      <div>
        <p [ngClass]="{
          'text-red-500': type === 'error',
          'text-green-500': type === 'success'
        }" class="font-semibold">{{ type | titlecase }}</p>
        <p class="text-gray-700">{{ message }}</p>
      </div>
      <button class="ml-auto" (click)="closePopup()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </button>
    </div>
  </div>
  