<div class="flex flex-col lg:flex-row">
  <!-- Left Side Navigation -->
  <div class="lg:w-64 bg-blue-800 border-l-4 border-blue-800 transition-transform duration-500 transform">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Right Side Content -->
  <div class="lg:flex-grow bg-gray-100 p-4">
    <app-topbar [username]="currentUser"></app-topbar>

    <!-- Blocks Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
      <div *ngFor="let block of blocks" class="bg-blue-200 p-4 rounded-md">
        <ng-container *ngIf="block.label === 'Balance'">
          <div class="text-xl font-semibold mb-2">{{ block.value | currency: 'R' }}</div>
        </ng-container>
        <ng-container *ngIf="block.label !== 'Balance'">
          <div class="text-xl font-semibold mb-2">{{ block.value }}</div>
        </ng-container>
        <div class="flex items-center">
          <ion-icon [name]="block.icon" class="text-xl text-blue-500 mr-2"></ion-icon>
          <div>{{ block.label }}</div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div class="mt-6 rounded-md overflow-hidden bg-white shadow">
      <table class="w-full">
        <!-- Table header -->
        <thead class="bg-gray-100 sticky top-0">
          <tr>
            <th class="py-2 px-4 text-indigo-700">Name</th>
            <th class="py-2 px-4 text-indigo-700">Price</th>
            <th class="py-2 px-4 text-indigo-700">Payment</th>
            <th class="py-2 px-4 text-indigo-700">Status</th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <ng-container *ngFor="let product of products; let i = index">
            <tr class="hover:bg-indigo-100 hover:text-indigo-600 p-3 rounded-lg cursor-pointer"
                [ngClass]="{'highlighted': product.highlighted}">
              <td class="py-2 px-2" [ngClass]="{'highlighted-text': product.highlighted}">{{ product.name }}</td>
              <td class="py-2 px-4" [ngClass]="{'highlighted-text': product.highlighted}">{{ product.price | currency: 'R' }}</td>
              <td class="py-2 px-4" [ngClass]="{'highlighted-text': product.highlighted}">{{ product.payment }}</td>
              <td class="py-2 px-4"
                  [ngClass]="{
                    'highlighted-text': product.highlighted,
                    'bg-green-200 text-green-600': product.status === 'Approved',
                    'bg-red-200 text-red-600': product.status === 'Declined'
                  }">
                {{ product.status }}
              </td>
            </tr>
            <tr class="separation-line">
              <td colspan="4"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
